h1 {
    text-align: center;
    color: rgb(255, 0, 212);
    padding: 20px;
  }
  form {
    text-align: center;
  }
  .current {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(255, 0, 212);
  }
  .cels {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: rgb(255, 0, 212);}
  
  .col-2 {text-align: center;}
  .card-subtitle {
    font-size: xx-large;
  }
  #coordinates{
    background-color: rgb(255, 0, 212);
    }
  